.App {
  text-align: center;
}
.logout-btn{
  border-radius: 3px;
  background-color: beige;
  border: none;

}
.alert{
  width: 20%;
  margin: 0 auto;
  margin-top: 15px;
}
.form-container{
  width: 18%;
  justify-content: center;
  margin: 0 auto;
}
.card-container{
  display: flex;
  justify-content: center;
  margin: 20px auto;
}