.active{
    color: #1F95A1;
    text-decoration: none;
    background-color: #1F95A1;
    color: white;
    padding: 8px;
    border-radius: 4px;
}
.normal{
    color: #A7A7A7;
    text-decoration: none;
}
.active:hover{
    text-decoration: none;
    color: white;
}
.normal:hover{
    text-decoration: none;
    color: #1F95A1;
}